body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inconsolata', monospace;
}

#banner {
    position: sticky; 
    top: 0; 
    padding: 10px 16px;
    background: #1c5f6e;
    color: white; 
    margin: 0 -16px;
}


#heatmap {
  position: relative;
  z-index: 0;
}

#heatmap svg .highlight {
  stroke: gold;
  stroke-width: 2px;
  fill-opacity: 1;
}

#ch-tooltip {
  position: absolute;   
  z-index: 9999 !important;
  pointer-events: none;  
}